.banner{
    position : relative;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    user-select: none;
    background: #FDFCFA;

    &__wrapper{
        padding: 20px;

        @media(min-width: 768px){
            padding: 30px;
        }
    }

    //Images
    &__img{
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        position : absolute;
        top: 20px;
        left: 20px;
        object-fit: cover;
        border-radius: 15px;
        
        @media(min-width: 768px){
            border-radius: 20px;
        }

        &--noise{
            mix-blend-mode: soft-light;
        }

    }

    // Content
    &__content{
        position : absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        display: flex;
        flex-direction : column;
        align-items: flex-start;
        justify-content: space-between;
        color: #FDFCFA;
        padding-right: 40px;

        @media(min-width: 768px){
            padding-right: unset;
            bottom: 120px;
            top: unset;
            left: 120px;
            transform: unset;
        }
    }

    &__tags{
        font-family: 'Syne', sans-serif;
        font-weight: 400;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 20px;
        
        @media(min-width: 768px){
            flex-direction: row;
            align-items: center;
            gap: 15px;
        }
    }

    &__tag{
        padding: 5px;
        position: relative;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.04rem;

        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% + 10px);
            height: 100%;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.3);
        }

        @media(min-width: 768px){
            font-size: 18px;
        }
    }

    &__portfolio{
        font-family: 'Deglion', sans-serif;
        font-size: 70px;
        line-height: 80%;

        @media(min-width: 768px){
            font-size: 140px;
        }
    }

    &__year{
        font-family: "Poppins", sans-serif;
        font-size: 28px;
        font-weight: 500;
        line-height: 100%;
        margin: 0 -40px 0 auto;

        @media(min-width: 768px){
            font-size: 36px;
            margin: 0 -70px 0 auto;
        }
    }

    // Stickers
    &__sticker{
        position : absolute;
        top: 18px;
        right: 0;

        @media(min-width: 768px){
            right: -60px;
        }
    }

}