.gallery{
    margin: 50px auto;

    @media(min-width: 768px){
        margin: 100px auto;
    }

    &.container{
        overflow-x: visible;
    }

    &__header{
        margin-bottom: 20px;
        display: flex;
        flex-direction : column;
        align-items: flex-start;

        @media(min-width: 768px){
            flex-direction : row;
            align-items: flex-end;
            margin-bottom: 60px;
        }

        .link{
            @media(max-width: 767px){
                margin-left: 0;
            }
        }
    }

    &__items {
        column-count: 3;
        column-gap: 16px;
        position : relative;
        width: 79vw;
        margin: 0 auto;

        @media(min-width: 768px){
            width: 100%;
        }

        @media (max-width: 991px) {
            column-count: 2;
        }

        @media (max-width: 767px) {
            column-count: 1;
        }
    }

    &__item {
        display: inline-block;
        margin-bottom: 16px;
        width: 100%;

        img {
            width: 100%;
            //border: 1px solid rgba(0, 0, 0, .3);
            border-radius: 8px;
            box-shadow: 0px 0px 20px 9px rgba(62,15,109,0.08);
        }
    }

    &__stickers{
        position: absolute;

        &--double-stars{
            top: 25px;
            right: -74px;
        }

        &--simple-star{
            top: 50%;
            left: -48px;
            width: 100px;
        }
    }

}