.header{
    display : flex;
    flex-direction : row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    position : fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;

    @media(min-width: 768px){
        padding: 45px 0;
    }

    &__logo{
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        font-size: 20px;
        margin-left: 25px;

        @media(min-width: 768px){
            margin-left: 80px;
        }
    }

    &__button-menu{
        background: white;
        border: 1px solid black;
        border-radius: 11px;
        padding: 11px 20px;
        font-family: 'Syne', sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin-right: 25px;
        
        @media(min-width: 768px){
            font-size: 16px;
            margin-right: 80px;
        }
    }
}