.menu{
    position : absolute;
    top: 80px;
    right: 20px;
    background: white;
    border: 1px solid black;
    border-radius: 11px;
    width: 220px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translateX(120%);
    transition: all 300ms ease;
    width: fit-content;
    padding: 0 100px 35px;
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;

    @media(min-width: 768px){
        top: 100px;
        right: 60px;
        width: 190px;
        padding: 0 0 35px;
    }

    a{
        text-decoration: none;
        color: black;
    }

    &.active{
        opacity: 1;
        pointer-events: unset;
        transform: translateX(0);
    }

    &__close{
        position : absolute;
        top: 20px;
        right: 20px;
        height: 15px;
        width: 100%;
        margin-right: 0;
        margin-bottom : 10px;
        cursor: pointer;

        &::before{
            content: '';
            position : absolute;
            top: 0;
            right: 0;
            height: 15px;
            width: 2px;
            background: black;
            transform: rotate(45deg);
        }
        
        &::after{
            content: '';
            position : absolute;
            top: 6px;
            right: -6px;
            height: 2px;
            width: 15px;
            background: black;
            transform: rotate(45deg);
        }
    }

    &__link{
        font-size: 27px;
        font-weight: 700;
        transition: color 300ms ease;
        position : relative;
        width: fit-content;
        margin: 0 auto 50px;
        //transform: translateX(-20%);
        
        @media(max-width: 767px){
            font-size: 18px;
            margin : 0 auto 30px;
            transform: translateX(0);
            transition: all 200ms ease;
            
            &.display{
                transform: translateX(0);
            }
        }

        @media(min-width: 768px){
            font-size: 16px;
            margin: 0 auto 30px;
        }

        &:first-child{
            margin-top: 30px;
        }

        &::before{
            content: '';
            position : absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background: #715792;
            transition: width 300ms ease;
        }

        .sticker{
            position: absolute;
            pointer-events: none;
            top: -3px;
            right: -35px;
            opacity: 0;
            transform: translateX(50px) rotate(7deg);
            transition: all 150ms ease;
            width: 20px;
            height: auto;
        }

        &:nth-child(2n){
            .sticker{
                left: -35px;
                transform: translateX(-50px);
            }

            &:hover{
                .sticker{
                    transform: translateX(0) rotate(-7deg);
                }
            }
        }

        &:hover{
            color: #715792;

            &::before{
                width: 100%;
            }

            .sticker{
                opacity: 1;
                transform: translateX(0) rotate(7deg);
            }

            
        }
    }

    &__social-medias-links{
        position : absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction : row;
        align-content: center;
    }

    &__social-medias-link{
        margin: 0 10px;

        img{
            width: 20px;
            height: auto;
        }
    }
}