.menu{
    position : absolute;
    top: 40px;
    right: 40px;
    background: #FDFCFA;
    border-radius: 11px;
    width: 40px;
    height: 30px;
    text-align: center;
    pointer-events: none;
    transition: all 300ms ease;
    padding: 0 10px;
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
    opacity: 0;

    @media(min-width: 768px){
        top: 100px;
        right: 60px;
        width: 190px;
        padding: 0 0 35px;
    }

    a{
        text-decoration: none;
        color: black;
    }

    &.active{
        pointer-events: unset;
        width: fit-content;
        height: fit-content;
    }

    &__close{
        position : absolute;
        top: 20px;
        right: 20px;
        height: 15px;
        width: 100%;
        margin-right: 0;
        margin-bottom : 10px;
        cursor: pointer;

        &::before{
            content: '';
            position : absolute;
            top: 0;
            right: 0;
            height: 15px;
            width: 2px;
            background: black;
            transform: rotate(45deg);
        }
        
        &::after{
            content: '';
            position : absolute;
            top: 6px;
            right: -6px;
            height: 2px;
            width: 15px;
            background: black;
            transform: rotate(45deg);
        }
    }

    &__link{
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: #433A3A;
        font-weight: 400;
        letter-spacing: -0.04rem;
        line-height: 120%;
    }

    &__social-medias-links{
        position : absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction : row;
        align-content: center;
    }

    &__social-medias-link{
        margin: 0 10px;

        img{
            width: 20px;
            height: auto;
        }
    }
}