.short-projects-list{
    margin-top: 100px;
    margin-bottom: 50px;

    @media(min-width: 768px){
        margin-bottom: 100px;
    }

    &__header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
        
        @media(min-width: 480px){
            flex-direction: row;
            align-items: flex-end;
            margin-bottom: 60px;
        }
    }

    &__list{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        @media(min-width: 620px){
            grid-template-columns: repeat(2, 1fr);
        }

        @media(min-width: 992px){
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__show-more{
        background: #ff6a001a;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        font-family: "Deglion", sans-serif;
        color: #ff6a00;
        font-size: 40px;
        padding: 25px 28px;
        cursor: pointer;
        aspect-ratio: 4/3;
        text-decoration: none;

        @media(min-width: 620px){
            aspect-ratio: unset;
        }

        .project__title{
            margin: 0;
            transform: translateY(8px);
        }

        .project__arrow{
            transform: rotate(0);
            margin-bottom: 8px;
            margin-left: 13px;
        }
    }
}