.slider{
    background: #E9E5F050;
    height: 100vh;
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;

    &__header{
        display: flex;
        flex-direction : row;
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 80px;
    }
}